@page
@model FarmCentralWeb.Pages.Products.CreateModel
@if (Model.errorMessage.Length > 0)

{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<br>
<h1>&#x1F4DA;</h1>
<h2>New Product</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PRODUCT NAME</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="product_name" value="@Model.product.Name">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">DATE SUPPLIED</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="date_supplied" value="@Model.product.DateSupplied">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">QUANTITY</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="quantity" value="@Model.product.Quantity">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PRODUCT TYPE</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="product_type" value="@Model.product.Type">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">FARMER NAME</label>
        <select name="farmer_name" class="form-select" asp-items="Model.model.FarmerNameSelectList">
            <option value="Select A Name">Select A Farmer Name</option>
        </select>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
